global:
  checkNewVersion: true
  sendAnonymousUsage: false

log:
  level: DEBUG
  format: common

accessLog:
  format: common


api:
  dashboard: true
  insecure: false

entryPoints:
  websecure:
    address: ":443"
    http:
      tls: {}


certificatesResolvers:
  cloudflare:
    acme:
      email: ${EMAIL}
      storage: /letsencrypt/acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
        delayBeforeCheck: "60"
  staging:
    acme:
      email: ${EMAIL}
      storage: /letsencrypt/acme.json
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: "60"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    network: "proxy-net"
    exposedByDefault: false
  file:
    directory: /certs/
    watch: true
